p, h1, h2, h3, h4 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    overflow: hidden;
}

h1.main-title {
    width: 70%;
    margin-top: 50;
    margin-bottom: 50;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;

}

div.title-details {
    display: flex;
}

.hidden {
    display: none !important;
}

/* MODAL */
.welcome-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome-modal-content {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px 0.5px #555;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    padding-left: auto;
    padding-right: auto;
  }

  .modal-header {
    padding: 15px;
    display: flex;
  }

  .welcome-modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: #B3494C;
    justify-content: space-between;
    padding: 0 5% ;
  }

  .welcome-modal-body {
    position: relative;
    padding: 2% 5%;
    text-align: justify;
    text-justify: inter-word;
  }

  .close-modal {
    position: absolute;
    top: 20%;
    right: 2%;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #B3494C;
    background: transparent;
  }

  /* END MODAL */


p.legend{
    font-size: 12px;
    font-weight: lighter;
}

p.y-legend{
    position: absolute;
    bottom:50%;
    left: -50px;
    transform: rotate(-90deg);
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

body .dataviz{
  display: flex;
}
div.graph {
    width: 70%;
    padding-left: 2%;
}
div.movieDetails {
  max-width: 25%;
}

div.detailsContent{
    padding: 2%;
}

#movieDetails{
    max-width: 30%;
    height: auto;
    margin-bottom: -100%;
    background-color: #F5F5F5;
}

#movieDetails img {
    position: relative;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.genre {
    display: flex;
    align-items: center;
}

div.genre p {
    width: 30%;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    color: white;
}

p.Action {
    background-color: #B3494C;
}
p.Adventure {
    background-color: #206632;
}
p.Animation {
    background-color: #C7541A;
}
p.Comedy {
    background-color: #1B8287;
}
p.Crime {
    background-color: #1F5F5B;
}
p.Documentary {
    background-color: #159947;
}
p.Drama {
    background-color: #703D00;
}
p.Family {
    background-color: #991C15;
}
p.Fantasy {
    background-color: #49B265;
}
p.History{
    background-color: #49ABA4;
}
p.Horror {
    background-color: #06373A;
}
p.Musical, p.Music {
    background-color: #066EC7;
}
p.Mystery {
    background-color: #A43600;
}
p.Romance {
    background-color: #0A5070;
}
p.Sci-Fi {
    background-color: #061A23;
}
p.Sport {
    background-color: #C71810;
}
p.Thriller {
    background-color: #5282AB;
}
p.War {
    background-color: #1F5232;
}
p.Western {
    background-color: #85407A;
}

div.block{
    display: flex;
    justify-content: space-between;
    
}

div.block>*{
    margin: 20px;
}

#my_slider{
    position: absolute;
    height: 100%;
    margin: 0;
    margin-left: 70%;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#slider{
    margin-top:10%;
    height: 80%;
    vertical-align: middle;
}

.checkbox{
    margin-top: 2%;
}

/* align button#closeDetails to the middle of the .button div */
#closeDetails {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BD111A;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid black;
    border-radius: 3px;
}

#closeDetails:hover {
    background-color: rgb(180, 168, 168);
    color: black;
}

input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
  }

button.Action {
    background-color: #B3494C;
}
button.Adventure {
    background-color: #206632;
}
button.Animation {
    background-color: #C7541A;
}
button.Comedy {
    background-color: #1B8287;
}
button.Crime {
    background-color: #1F5F5B;
}
button.Documentary {
    background-color: #159947;
}
button.Drama {
    background-color: #703D00;
}
button.Family {
    background-color: #991C15;
}
button.Fantasy {
    background-color: #49B265;
}
button.History{
    background-color: #49ABA4;
}
button.Horror {
    background-color: #06373A;
}
button.Music {
    background-color: #066EC7;
}
button.Mystery {
    background-color: #A43600;
}
button.Romance {
    background-color: #0A5070;
}
button.Sci-Fi {
    background-color: #061A23;
}
button.Sport {
    background-color: #C71810;
}
button.Thriller {
    background-color: #5282AB;
}
button.War {
    background-color: #1F5232;
}
button.Western {
    background-color: #85407A;
}
#colorsLegend {
    position: relative;
    width: 100px;
    height: auto;
    text-align: center;
    margin: 50px 50px 0 100px;
}

#colorsLegend button {
    font-size: 0.9em;
    width: 100%;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    color: white;
    margin: 9%;
    transition-duration: 0.4s;
}

#colorsLegend button:hover {
    background-color: rgb(180, 168, 168);
    color: black;
}

#colorsLegend button.active {
    background-color: rgb(255, 255, 255);
    color: black;
}

@media screen and (max-width: 1500px) {
    #colorsLegend {
        position: relative;
        width: 100px;
        height: auto;
        text-align: center;
        margin: 30px 30px 0 200px;
        padding-top: 15px
    } 

    #colorsLegend button {
        font-size: 0.8em;
        width: 100%;
        padding: 3px;
        border: 1px solid black;
        border-radius: 3px;
        text-align: center;
        color: white;
        margin: 4%;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .main-title{
        font-size: 1.8em;
    }

    #slider{
        margin-top:10%;
        height: 75%;
        vertical-align: middle;
    }

    #movieDetails{
        max-width: 30%;
        height: auto;
        margin-bottom: -100%;
        background-color: #F5F5F5;
    }
    
    #movieDetails img {
        position: relative;
        top: 7.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
    }

    .block{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        height: 80px;
    }

    .studioDiv {
        width: 60%;
        padding: 5px;
        margin: 0 0 0 0 !important;
    }

    .runtimeDiv{
        width: 40%;
        padding: 5px;
        margin: 0 0 0 0 !important;
    }

    .studio, .runtime {
        margin-top: 5px;
        margin-bottom: 6px;
    }

    .worldDiv, .domesticDiv{
        width: 50%;
        padding: 5px;
        margin: 0 0 0 0 !important;
    }

    .WorldSales, .DomesticSales{
        margin-top: 5px;
        margin-bottom: 6px;
    }

    h2.title{
        font-size: 1.5em;
    }

    .subTitle{
        margin-bottom: 6px;
        font-size: 1.1em;
    }

    #closeDetails {
        position: relative;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: #BD111A;
      border: none;
      border-radius: 10px;
      color: white;
      padding: 8px 16px;
      text-align: center;
      font-size: 16px;
      opacity: 0.9;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid black;
        border-radius: 3px;
    }
    
}